<div>
    <div class="container mt-3">
        <h4>Welcome {{user.name}}</h4>
        <img src='data:image/png;base64,{{user.avatar}}' width="200px" alt='Profile Image'>

        <a routerLink='/news'    ><button class="btn btn-sm btn-primary me-2">My News</button></a>
           <a routerLink='/addnews' ><button class="btn btn-sm btn-success me-2">Add News</button></a>
           <!-- <a routerLink='/editprofile' ><button class="btn btn-sm btn-dark">Edit Profile</button></a> -->

    </div>
</div>
